@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}


html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.167em;
  color: #242424;
  background-color: #F2F2F2;
}

.button {
  padding: 9px 34px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background-color: #615048;
}
.button:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
  outline: none;
}
.button:active .modal-container {
  color: rgba(117, 98, 87, 0.7);
  background-color:#615048;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a,button,input, textarea {
  outline: none;
}


/* pages */

.main-container {
  flex-grow: 1;
}

.page-body-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: column;
  color: #242424;
  background-color: white;
}
.page-header {
  display: flex;
  justify-content: space-around;
  color: #000000;
  background: #FFFFFF;
}
.navigation {
  display: flex;
  flex: 1 0 60%;
  height: 65px;
  justify-content: space-between;
}
.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
  list-style-type: none;
}
.navigation-user {
  display: flex;
  justify-content: space-between;
  padding-right: 71px;
  align-items: center;
  margin: 0;
  list-style-type: none;
}
.navigation-logo {
  display: block;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: -10px;
}
.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  padding: 10px;
}

.navigation-link {
  position: relative;
  display: flex;
  margin-right: 21px;
  padding: 5px 12px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
}

.navigation-link:hover .popover {
  color: rgba(117, 98, 87);
  display: block;
}

.navigation-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
}

.navigation-link-current::before {
  position: absolute;
  z-index: 1;
  right: 13px;
  bottom: -16px;
  left: 13px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.7);
  box-shadow: inset 0 0 0 0 #83B3D3;
}

.navigation-item {
  position: relative;
}
.navigation-icon {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  fill: black;
}
.navigation-icon:nth-child(2) {
  position: absolute;
  top: 0;
  left: 55%;
  bottom: 35%;
  right: 0;
  margin: auto 0;
}
.navigation-icon:nth-child(3) {
  position: absolute;
  top: 0;
  left: 65%;
  bottom: 37%;
  right: 0;
  margin: auto 0;
  fill:white;
}


.navigation-link:hover .navigation-icon {
  fill: #756257;
}
.navigation-link:focus .navigation-icon {
  color: rgba(117, 98, 87, 0.7)
}
.header-sedona-logo {
  position: relative;
  z-index: 1;
  top: 0px;
  bottom: -10px;
}

.heart {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(125, 181, 79);
  color: white;
  font-size: 10px;
  line-height: 13px;
  font-family: inherit;
  width: 19px;
  height: 19px;
  left: 60%;
  bottom: 50%;
  text-align: center;
}
.heart:active {
  color: rgba(255, 255, 255, 0.7)
}

.icon {
  display: block;
  position: relative;
  min-height: 400px;
  padding-top: 51px;
  padding-bottom: 81px;
  color: #000000;
  text-align: center;
  background-color: #FFFFFF;
  background-image:  url("../image/index-background.png");
  background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
}

.icon:after  {
    content: "";
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 57px;
    width: 100%;

    clip-path: polygon(
      0 100%,
      0 0,
      20.8% 42%,
      20.8% 0%,
      50% 100%,
      79.2% 0%,
      79.2% 42%,
      100% 0,
      100% 100%
    );
}

/* Приимущества  */

.advantages {
  text-align: center;
  max-width: 800px;
  min-height: 150px;
  margin: 63px auto 79px auto;
  padding: 0;
}

.advantages-item {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}



.advantages-title {
  font-size: 22px;
  line-height: 36px;
}

.advantages-description-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.advantages-description-title {
  margin: 26px 0;
  padding: 0;
  width: 400px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}



.advantages-description-item {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-description-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0 77px;
  min-height: 384px;
  color: white;
  background-color: #83B3D3;
  text-align: center;
}

.list-order {
  margin: 0;
}

.page-advantages-description {
  display: flex;

  padding: 0px;
  text-align: center;
}


.advantages-description-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 384px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}


.advantages-description-item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 384px;
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-description-item-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 384px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description-description {
  margin: 26px 72px 0;
  min-height: 73px;
  width: 250px;
}


/*  Фильтры каталога  */

.catalog-background-1 {
  width: 100%;
  padding-top: 40px;
  padding-right: 72px;
  padding-left: 72px;
  min-height: auto;
  color: white;
  text-align: left;
  background-image: url("../image/catalog/catalog-background-1.png");
  background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
}
.catalog-filter-title {
  padding-bottom: 30px;
  }
.order {
  display: flex;
  padding-left: 0;
  padding-bottom: 35px;
  margin-bottom: 0;
  list-style: none;
}
.order-link{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  text-transform: none;
}
.main-page {
  padding-right: 44px;
  background-image: url("../image/nav-link.svg");
  background-repeat: no-repeat;
  background-size: 6px 8px;
  background-position: center right 20px;
}

.order-link:hover {
  opacity: 60%;
}
.order-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
}
.order-link:active {
  opacity: 30%;
}

.inner-header{
  font-size: 18px;
  line-height: 23px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 100%;
  margin-bottom: 5px;
  margin-top: 0;
}

.button-apply {
  width: 160px;
  height: 48px;
  font-size: 16px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  margin: 0 auto;
  margin-bottom: 18px;
  color: white;
  background-color: #83B3D3;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
}
.button-apply:hover {
  background-color: #68A2CA;
}
.button-apply:focus {
  box-shadow: inset 0 0 0 3px white;
  border-radius: 4px;
}
.button-apply:active {
  opacity: 30%;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding: 5px 14px;
  color: white;;
  text-decoration: none;
  text-transform: none;
  background: transparent;
  border: none;
}
.button-reset:hover {
  opacity: 60%;
}
.button-reset:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;

}
.button-reset:active {
  opacity: 30%;
}

.but-pr {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:center;
}

.catalog-products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}


/* Сортировка гостиниц  */


.shorting-list {
  display: flex;
  justify-content: space-between;
  padding-left: 71px;
}
.shorting-list-0 {
  width: 470px;
}
.shorting-list-2 {
  padding: 5px 0;
}
.shorting {
  padding: 42px 0px;
}
.shorting  h2 {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 39px;
  text-align: left;
  color: black;
  background-color:white;
  text-transform: uppercase;
}
.catalog-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 83px;
}
.catalog-filter-group {
    margin: 0;
    padding: 0;
    border: none;
}
.control-label {
  line-height: 22px;
}
.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color:rgba(255, 255, 255, 0.6);
}

.control-input:disabled + .control-mark {
  background-color:rgba(255, 255, 255, 0.6);
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  width: 6px;
  height: 2px;
  background-color: rgba(63, 94, 114, 1);
  content: "";
  top: 9px;
  left: 2.3px;
  transform: rotate(40deg);
}
.control-input[type="checkbox"]:checked + .control-mark::after {
  content: "";
  position: absolute;
  right: 2px;
  top: 7px;
  width: 9px;
  height: 2px;
  background-color: rgba(63, 94, 114, 1);
  transform: rotate(-50deg);
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
  content: "";
}
/*-Слайдер-начало--*/

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

.catalog-filter-group {
  display: grid;
  gap: 20px;
}
.range-wrapper-inputs {
  display: grid;
  grid-template-columns: 144px 144px;
  margin: 0;
  font-size: 18px;
  line-height: 1.28;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
}
.catalog-filter-label {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
  padding-right: 16px;
  border: 2px solid #ffffff;
}
.catalog-filter-label:focus-within {
  box-shadow: 0px 0px 0px 3px #81b3d2, inset 0px 0px 0px 3px #81b3d2;
}
.catalog-filter-label:not(:focus-within):hover {
  border-color: rgba(255, 255, 255, 0.6);
}
.catalog-filter-label:active {
  background-color: rgba(117, 98, 87);
}
.catalog-filter-label:first-child {
  border-radius: 4px 0 0 4px;
  border-right-width: 0;
  margin-right: 2px;
}
.catalog-filter-label:first-child:hover {
  border-right-width: 2px;
  margin-right: 0;
}
.catalog-filter-label:hover + .catalog-filter-label {
  border-left: 0;
  margin-left: 0;
}
.catalog-filter-label:last-child {
  position: relative;
  z-index: 1;
  margin-left: -2px;
  border-radius: 0 4px 4px 0;
}
.catalog-filter-input {
  all: unset;
  color: #fff;
  order: -1;
  padding: 11px 0 11px 18px;
  width: 65px;
}

.group-range {
  margin: 0;
  width: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) var(--first-val), #fff var(--first-val), #fff var(--second-val), rgba(255, 255, 255, 0.3) var(--second-val));
  background-size: 100% 4px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  position: relative;
  z-index: 1;
  height: 20px;
}
.range-slider__input {
  cursor: grab;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  background-color: transparent;
}
.range-slider__input::-webkit-slider-runnable-track {
  background: none;
  height: 100%;
  width: 100%;
}
.range-slider__input::-moz-range-track {
  background: none;
  height: 100%;
  width: 100%;
}
.range-slider__input::-webkit-slider-thumb {
  background-color: #fff;
  border: none;

  border-radius: 5px;
  pointer-events: auto;

  width: 20px;
  height: 20px;
  -webkit-appearance: none;
}
.range-slider__input::-webkit-slider-thumb:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.range-slider__input::-webkit-slider-thumb:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}
.range-slider__input::-moz-range-thumb {
  background-color: #fff;
  border: none;

  border-radius: 5px;
  pointer-events: auto;

  width: 20px;
  height: 20px;
  -webkit-appearance: none;
}
.range-slider__input::-moz-range-thumb:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.range-slider__input::-moz-range-thumb:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}
.range-slider__input:last-of-type {
  position: absolute;
}
.range-slider__input:focus {
  outline: none;
}
.range-slider__input:focus::-webkit-slider-thumb {
  outline: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.range-slider__input:focus::-moz-range-thumb {
  outline: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.range-slider__input:not(:only-of-type) {
  pointer-events: none;
  right: 0;
}




/*--Слайдер-конец--*/

/*-- Список гостиниц-начало--*/

.catalog-filter-group-card {
  display: flex;
  justify-content: space-between;
  padding-right: 72px;
  width: 240px;
  color: black;
  background-color:white;
}
.button-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  transform: scale(1.2);
  border: 2px solid #E5E5E5;
  padding:  8px;
  border-radius: 4px;
  background-color: white;
}
.button-card:last-child {
  border-radius: 4px;
  border: 2px solid black;
}
.button-card:hover {
box-shadow: inset 0 0 0 3px #83B3D3;
border-radius: 4px;
}

.button-card:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
  outline: none;
}

.favourites-card-button {
  color: white;
  background-color: #83B3D3;
  grid-column: 3/4;
  grid-row: 4/5;
  width: 160px;
  height: 37px;
  text-align: center;
  padding: 9px 0px;
  border-radius: 4px;
}
.favourites-card-button:hover {
  background-color: #68A2CA;
}
.favourites-card-button:focus {
  box-shadow: inset 0 0 0 3px #756257;
  border-radius: 4px;
}
.favourites-card-button:active {
  opacity: 30%;
}

.favourites-card-button-green {
  color: white;
  background-color:#7DB54F;
  grid-column: 3/4;
  grid-row: 4/5;
  width: 160px;
  height: 37px;
  text-align: center;
  padding: 9px 0px;
  border-radius: 4px;
}
.favourites-card-button-green:hover {
  background-color: #6C9E42;
}
.favourites-card-button-green:focus {
  box-shadow: inset 0 0 0 3px #756257;
  border-radius: 4px;
}
.favourites-card-button-green:active {
  opacity: 30%;
}

.house-list {
  padding: 0px 71px;
  width: 100%;
  text-align: left;
  margin: 0px;
  list-style-type: none;
}
.house-card {
  display: grid;
    grid-template-columns: 180px 185px 160px 341px 160px;
    grid-template-rows: 31px 31px 35px 37px 31px;
    gap: 8px;
    border-top: 1px solid #E5E5E5;
}
.house-card-link {
  display: flex;
  grid-column: 1/2;
  grid-row: 2/4;
}
.house-card-link:hover {
  opacity: 60%;
}
.house-card-link:focus img {
  outline: 3px solid #83B3D3;
}
.house-card-link:active {
  opacity: 30%;
}

.house-card-title {
  margin: 0 0 0 20px;
}
.house-card-title-link {
  color: black;
  padding: 10px 16px;
  max-width: 250px;
  align-self: center;
  background-color: white;
  text-decoration: none;
  grid-column: 2/4;
  grid-row: 2/3;
}
.house-card-title-link:hover {
  color: #756257;
}
.house-card-title-link:focus  {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
}
.house-card-title-link:active {
  opacity: 30%;
}

.rating-card-button {
  position: relative;
  color: black;
  background-color:#F2F2F2;
  width: 160px;
  height: 37px;
  padding: 9px 0px;
  border-radius: 4px;
  grid-column: 5/6;
  grid-row: 4/5;
  font-family: inherit, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.stars-card-image {
  position: absolute;
  width: 100px;
  z-index: 1;
  top: -70px;
  left: 30px;
  right: 0;
  bottom: 0;
}


.details-card-button {
  grid-column: 2/3;
  grid-row: 4/5;
  width: 151px;
  height: 37px;
  padding: 9px 0px;
  border-radius: 4px;
  margin-left: 36px;
  text-align: center;
}
.house-card-house {
  margin: 0 0 0 36px;
  grid-column: 2/4;
  grid-row: 3/4;
}
.house-card-price {
  margin: 0;
  grid-column: 3/5;
  grid-row: 3/4;
}

/*-- Список гостиниц-начало--*/

/*-- Кнопка "Загрузить еще" --*/

.loading {
  width: 1056px;
  padding: 31px 0;
  margin: auto;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

/*-- Кнопка "Загрузить еще" --*/

.pagination-show-more {
  display: flex;
  width: 625px;
  height: 55px;
  align-items: center;
  margin: 0 auto;
  color: white;
  background-color: #83B3D3;
  justify-content: center;
  border-radius: 4px;
  border: 0px;
}
.pagination-show-more:hover {
  background-color: #68A2CA;
}
.pagination-show-more:focus {
  box-shadow: inset 0 0 0 3px #756257;
  border-radius: 4px;
}
.pagination-show-more:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: #68A2CA;
}
.house-card-link{
  color: black;
  background-color: white;
  text-decoration: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination-link.pagination-current {
  color: black;
  background-color: #F2F2F2;

}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  text-decoration: none;
}
.pagination-link:hover {
  background-color: #68A2CA;
}
.pagination-link:focus {
  box-shadow: inset 0 0 0 3px #756257;
  border-radius: 4px;
}
.pagination-link:active {
  opacity: 30%;
}

.sorting-list {
  font-size: 18px;
  line-height: 24px;
  margin: 5px 0;
}
.list {
  padding-right: 51px;
}

.page-pagination-container {
  padding: 31px 72px 0px 71px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
}
.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 260px;
  margin-right: auto;
}
.select-control {
  width: 287px;
  height: 58px;
  padding: 8px 14px;
  padding-right: 48px;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  background-image: url("../image/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: rgba(131, 179, 211);
  border-radius: 4px;
  outline: none;
}

.select-control:active {
  border-color: #E5E5E5;
  border-radius: 4px;
  outline: none;
  opacity: 30%;
}

.select-control-page {
  width: 160px;
  height: 48px;
  padding: 8px 14px;
  padding-right: 48px;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  background-image: url("../image/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control-page:hover,
.select-control-page:focus {
  border-color: rgba(131, 179, 211);
  border-radius: 4px;
  outline: none;
}

.select-control-page:active {
  border-color: #E5E5E5;
  border-radius: 4px;
  outline: none;
  opacity: 30%;
}
/* Поиск гостиниц */

.search-hotel {
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  text-align: center;
  height: 235px;
  color: black;
  background-color:white;
  margin: 91px auto 91px 240px;
}

.page-main-search-hotel {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.search-hotel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 575px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  margin: auto;
  margin-top: 70px;
  border-radius: 10px;
}
.search-hotel-button:hover {
  background-color: #615048;
}
.search-hotel-button:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
}
.search-hotel-button:active {
  color: rgba(117, 98, 87, 0.7);
  background-color:#615048;;
}

/* Подписка */


.newsletter {
  font-size: 22px;
  line-height: 26px;
  width: 100%;
  min-height: 411px;
  text-align: center;
  color: white;
  background-image: url("../image/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-top: 9px;
}

.newsletter-catalog {
  font-size: 22px;
  line-height: 26px;
  width: 100%;
  text-align: center;
  height: 411px;
  color: black;
  background-color: white;
}

.page-main-newsletter {
  padding-top: 85px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-email {
  padding: 0;
  margin: 0;
  outline: none;
}

input[type=email] {
  width:600px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  padding: 0 10px;
  color: black;
  font-family: "PT Sans", sans-serif;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #F2F2F2;
  margin: 10px 0;
}

.field {
  margin: 0;
  border: 0px;
}
input[type=email]:hover {
  border: 0px;
  outline: none;
  background-color: #E5E5E5;
}
input[type=email]:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
input[type=email]:active {
  box-shadow: inset 0 0 0 3px black;
  background-color: white;
}
.error:not(:placeholder-shown):invalid {
  box-shadow: inset 0 0 0 3px #FF5757;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.newsletter-button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  color: white;
  background-color: rgba(131, 179, 211);
  text-transform: uppercase;
  padding: 0 10px;
  margin: 10px 0;
  border: 0px;
}

.newsletter-button:hover {
  background-color: rgba(104, 162, 202);
}

.newsletter-button:focus {
  color: rgba(255, 255, 255);
  box-shadow: inset 0 0 0 3px #756257;
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(104, 162, 202);
}


/* Подвал */


.page-footer {
  display: flex;
  justify-content: space-around;
  padding: 40px 40px;
  background-color: white;
}

.page-footer a {
  color: black;
}
.footer-author {
  padding-top: 8px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item {
  padding-right: 10px;
  padding-left: 5px;
}
.soc-mail {
  display: block;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 18px;
}
.twit {
  background-image: url("../image/social-twitter.svg");
}
.face {
  background-image: url("../image/social-facebook.svg");
}
.you {
  background-image: url("../image/social-youtube.svg");
}

.soc-mail:hover {
  opacity: 80%;
  fill: currentColor;
}
.soc-mail:focus {
  box-shadow: inset 0 0 0 3px rgba(104, 162, 202);
  border-radius: 10px;
}
.soc-mail:active {
  opacity: 30%;
}

.phone {
  text-align: center;
  width: 720px;
}

.footer-contact-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;

  text-decoration: none;
}

.footer-contact-phone:hover {
  color: rgba(117, 98, 87, 1);
}
.footer-contact-phone:focus {
  border-radius: 10px;
  padding: 15px;
  box-shadow: inset 0 0 0 3px #83B3D3;
}
.footer-contact-phone:active {
  opacity: 30%;
  box-shadow: inset 0 0 0 0 #83B3D3;
}

.htmlacademy-link:hover img {
  opacity: 60%;
}
.htmlacademy-link:focus img {
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #83B3D3;
}
.htmlacademy-link:active img {
  opacity: 30%;
  box-shadow: inset 0 0 0 0 #83B3D3;
}

/*-- Поповер--*/
.popover {
  position: absolute;
  top: 0;
  right: 0;
  left: -183px;
  z-index: 1;
  box-sizing: border-box;
  width: 300px;
  margin-top: 45px;
  font-family: "PT Sans", sans-serif;
  color: #242424;
  background-color: #FFFFFF;
  min-height: 186px;
  border: 1px solid rgba(229, 229, 229, 1);
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
  border-radius: 20px;
  display: none;
}
.popover:before {
  position: absolute;
  z-index: 3;
  height: 24px;
  width: 20px;
  left: 48%;
  top: -24px;
  background-color: rgba(255, 255, 255);
  content: "";
  clip-path: polygon(
    50% 60%,
    0% 100%,
    100% 100%);
}
.popover-cart {
  width: 400px;
}
.popover-content {
  height: 100%;
}
.cart-item {
  display: grid;
  gap: 12px;
  grid-template-columns: 55px 244px 16px;
}
.cart-items-list {
  padding: 10px 25px;
}
.house-card-title-2 {
  margin-top: 0;
  position: relative;
  bottom: -10px;
  margin-bottom: 2px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #242424;
}

.house-card-image-page {
  position: relative;
  top: 10px;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  grid-row: 1/4;
}

.house-card-image-2 {
  color: black;
  transform: scale(1.5)
}
.house-card-house-3 {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  color: black;
  grid-row: 2/3;
  position: relative;
  top: -12px;
  line-height: 24px;
  font-weight: 700;
}

.cart-item-button {
  position: relative;
  top: 20px;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: white;
  opacity: 20%;
  cursor: pointer;
  padding: 15px;
  border: 0;
}
.delete-icon {
  position: relative;
  top: -9px;
  left: -8px;
  bottom: 0;
  right: 0;
}

.cart-item-button:hover {
  opacity: 1;

}
.cart-item-button:focus {
  opacity: 1;
  box-shadow: inset 0 0 0 3px rgba(104, 162, 202);
  border-radius: 10px;
  outline: none;
  border: 0;
}
.delete-icon:active {
  opacity: 0.6;
}
.cart-item .button {
  grid-row: 1 / 3;
  grid-column: 2 / 4;
}
/*
.cart-item + .cart-item {
  padding-top: 24px;
}*/
.cart-item:last-child {
  padding-top: 0px;
}
.popover-memory-button {
  box-sizing: border-box;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: inherit;
  width: 400px;
  height: 60px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: 0;
}
.popover-memory-button:hover {
  background-color: rgba(97, 80, 72, 1);
}
.popover-memory-button:focus {
  background-color: rgba(97, 80, 72, 1);
  box-shadow: inset 0 0 0 3px rgba(131, 179, 211, 1);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.popover-memory-button:active {
  background-color: rgba(97, 80, 72, 0.7);
}


/*-- Модальное Окно --*/
.modal-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: flex;
}

.modal-container[hidden] {
  display: none;
}

.modal-content {
  margin: 30px;
}
.modal {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.modal-auth {
  width: 715px;
}
.modal-close-button {
  position: absolute;
  padding: 0;
  top: 60px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #ffffff;
  border: none;
  background-image: url("../image/close.svg"), url("../image/ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.modal-close-button:hover {
  opacity: 0.7;
}
.modal-close-button:focus {
  box-shadow: inset 0 0 0 3px rgba(104, 162, 202);
  border-radius: 50%;
}
.modal-close-button:active {
  opacity: 1;
}

.modal-title {
  min-height: 67px;
  margin-bottom: 24px;
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.appointment-form .field-group {
  margin: 0;
  margin-bottom: 16px;
}
.appointment-form-user-options {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}
label[for=appointment-date] {
  font-size: 18px;
  font-weight: 700;
}
label[for=appointment-kind] {
  padding-left: 10px;
  font-size: 18px;
  font-weight: 700;
}
.appointment-form-user-options .control-label {
  font-weight: 400;
}
.appointment-form .field {
  height: 50px;
  margin-left: 45px;
  padding: 0px 19px;
  color: black;
  background-color: rgba(242, 242, 242);
  font-family: inherit;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  width: 420px;
  border-radius: 4px ;
}
input[id="appointment-date"]:hover {
  background-color: rgba(229, 229, 229, 1);
}
input[id="appointment-date"]:focus {
  background-color: rgba(229, 229, 229, 1);
  box-shadow: inset 0 0 0 3px rgba(131, 179, 211, 1);
  border-radius: 4px;
}
input[id="appointment-date"]:active {
  background-color:white;
  color: black;
  box-shadow: inset 0 0 0 3px black;
  border-radius: 4px;
}
.text-info-date {
  padding-left: 155px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}
.red {
  color:rgba(255, 87, 87)
}
.appointment-form-recovery {
  line-height: 22px;
  color: #000000;
}
.appointment-form-button {
  width: 360px;
  margin-bottom: 16px;
}
.appointment-form .button + .button {
  margin: 0;
}
.appointment-form-register {
  width: 360px;
  color: #000000;
  background-color: #FFFFFF;
}

.appointment-form-button {
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 40px;
  width: 575px;
  height: 60px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(131, 179, 211);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: 0;
}
.appointment-form-button:hover {
  background-color: rgba(104, 162, 202);
}
.appointment-form-button:focus {
  color: white;
  background-color: rgba(104, 162, 202);
  box-shadow: inset 0 0 0 3px rgba(117, 98, 87);
  border-radius: 10px;
}
.appointment-form-button:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(104, 162, 202);
}
.appointment-form-field {
  width: 15px;
  height: 15px;
  color: rgba(0, 0, 0);
  background-image: url("../image/date.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  appearance: none;
}
.form-label {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  flex-direction: row;
  align-content: center;
}
.info {
  position: relative;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 13px;
  padding: 0;
  background-color: rgba(131, 179, 211);
  border-radius: 50%;
  border: none;
  background-image: url("/..image/important.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.info-0 {
  position: relative;
  left: 11px;
  top: -2px;
}
/*
.appointment-form-number {
  position: relative;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 2px;
  content: "";
}
*/
.appointment-form-number2 {
  width: 15px;
  height: 15px;
  color: rgba(0, 0, 0);
  background-image: url("../image/plus.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  appearance: none;
}
.appointment-form .field2 {
  margin-left: 68px;
  text-align: center;
  width: 133px;
  border-radius: 4px;
}
.appointment-form-adult {
  display: flex;
  justify-content: space-between;
}
.information {
  position: absolute;
  z-index: 1;
  color: white;
  left: 350px;
  bottom: 60px;
  border-radius: 10px;
  background-color: rgba(51, 51, 51);
  padding: 15px 20px;
  display: block;
}

.information-text {
  width: 240px;
  min-height: 110px;
  font-weight: 400;
  margin: 0;
}
.information:before {
  position: absolute;
  z-index: 3;
  height: 24px;
  width: 20px;
  left: 45%;
  top: -23px;
  background-color: rgba(51, 51, 51);
  content: "";
  clip-path: polygon(
    50% 60%,
    0% 100%,
    100% 100%);
}
