@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}


html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.167em;
  color: #242424;
  background-color: #F2F2F2;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* pages */

.main-container {
  flex-grow: 1;
}

.page-body-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: column;
  color: #242424;
  background-color: white;
}


.page-header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  color: #000000;
  background: #FFFFFF;
}

.navigation {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 120px;
  padding: 0px;
  list-style-type: none;

}

.navigation-user {
  display: flex;
  list-style-type: none;
  margin-left: 270px;
}

.navigation-logo {
  display: block;
  justify-content: center;
  margin-bottom: -10px;
  position: absolute;
  margin-left: 531px;
  margin-right: auto
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 22px;
}

.navigation-link {
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
}

.icon {
  display: block;
  margin: 0 auto;
  width: 1200px;
  min-height: 400px;
  padding-top: 52px;
  padding-bottom: 83px;
  color: #000000;
  text-align: center;
  background-color: #FFFFFF;
  background-image: url("../image/index-background.png");
  background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
}

/* Приимущества  */

.advantages {
  text-align: center;
  max-width: 800px;
  min-height: 150px;
  margin: 63px auto 79px auto;
  padding: 0;
}

.advantages-item {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title {
  font-size: 22px;
  line-height: 36px;
}

.advantages-description-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-description-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
}

.advantages-description-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 384px;
  color: white;
  background-color: #83B3D3;
  text-align: center;
}

.page-advantages-description {
  display: flex;
  width: 400px;
  padding: 0px;
  text-align: center;
}

.advantages-description-item-1-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 400px;
  min-height: 384px;
  color: white;
  background-color: #83B3D3;
  text-align: center;
}

.advantages-description-item-2 {
  width: 400px;
  min-height: 384px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-description-item-3 {
  width: 400px;
  min-height: 384px;
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-description-item-4 {
  width: 400px;
  min-height: 384px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}


.icon-image {
  margin: auto;
}

.advantages-description-description {
  margin:  0 auto;
  min-height: 73px;
  width: 250px;

}
/*  Фильтры каталога  */


.catalog-background-1 {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  min-height: auto;
  color: white;
  text-align: left;
  background-image: url("../image/catalog/catalog-background-1.png");
  background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
}

.order {
  display: flex;
  margin: 71px;
  margin-top: 0px;
  padding: 0;
  list-style: none;
}

.order-link{
  margin-right: 32px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  text-transform: none;
}

.inner-header{
  font-size: 18px;
  line-height: 23px;
}

.inner-header-title {
  display: flex;
  flex-grow: 1;
  font-size: 60px;
  line-height: 100%;
  margin-top: 35px;
  margin-left: 71px;
  margin-right: 580px;
  margin-bottom: 5px;
}

.button-apply {
  width: 160px;
  height: 48px;
  font-size: 16px;
  line-height: 21px;
  margin: 0 auto;
  color: white;
  background-color: #83B3D3;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: white;;
  text-decoration: none;
  text-transform: none;
  background: transparent;
}

.but-pr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.catalog-products {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;

}


/* Сортировка гостиниц  */


.shorting-list {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.shorting {
  padding-top: 45px;
}

.shorting  h2 {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: Bold;
  font-size: 30px;
  line-height: 39px;
  text-align: left;
  color: black;
  background-color:white;
  text-transform: uppercase;
}

.catalog-filter {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 83px;
  margin-left: 72px;
  margin-right: auto;
}

.catalog-filter-group {
  margin-right: 60px;
}

.catalog-filter-group-card {
  color: black;
  background-color:white;

}

.favourites-card-button {
  color: white;
  background-color: #83B3D3;
}

.favourites-card-button-green {
  color: white;
  background-color:#7DB54F
}

.house-list {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 1200px;
  text-align: left;
  list-style-type: none;
}
.rating-card-button {
  color: black;
  background-color:#F2F2F2;
  text-align: right;
}



.pagination-show-more {
  display: flex;
  width: 625px;
  height: 55px;
  align-items: center;
  margin: 0 auto;
  color: white;
  background-color: #83B3D3;
  justify-content: center;
  border-radius: 4px;
}

.house-card-link{
  color: black;
  background-color: white;
  text-decoration: none;
}


.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  color: black;
  background-color: #E5E5E5;
}

.pagination {
  display: flex;
  margin: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.sorting-list {
  font-size: 18px;
  line-height: 23px;
}
.page-pagination-container {
  margin-right: 72px;
  padding: 8px;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  border-radius: 4px;
  list-style-type: none;

}

/* Поиск гостиниц */

.search-hotel {
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  text-align: center;
  height: 235px;
  color: black;
  background-color:white;
  margin: 91px auto 91px 240px;
}

.page-main-search-hotel {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.search-hotel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 575px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  margin: auto;
  margin-top: 70px;
  border-radius: 10px;
}


/* Подписка */


.newsletter {
  font-size: 22px;
  line-height: 26px;
  width: auto;
  min-height: 411px;
  text-align: center;
  color: white;
  background-image: url("../image/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-top: 9px;
}

.newsletter-catalog {
  font-size: 22px;
  line-height: 26px;
  width: auto;
  text-align: center;
  height: 411px;
  color: black;
  background-color: white;
}

.page-main-newsletter {
  padding-top: 85px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-email {
  padding: 0;
  margin: 0;
}

input[type=email]{
  width:600px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  padding: 0 10px;
  margin: 10px 0;
}

.newsletter-button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  color: white;
  background-color: #83B3D3;
  text-transform: uppercase;
  padding: 0 10px;
  margin: 10px 0;
}

/* Подвал */


.page-footer {
  width: 1200px;
  display: flex;
  font-weight: 120px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  padding: 40px 0;
  background-color: white;
  justify-content: center;
}

.page-footer a {
  color: black;
}

.footer-social {
  width: 180px;
  margin-right: 60px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 8px;
}

.footer-author {
  margin-left: 60px;
  max-width: 120px;
}

.phone {
  text-align: center;
  width: 720px;
}

.footer-contact-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.button-soc {
  font-family: inherit;
  font-weight: 700;
  color: white;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}


