


/*


@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #242424;
  background-color: white;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}


/* pages */
/*

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
}

.icon {
  width: auto;
  height: 485px;
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../image/index-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* Приимущества */
/*
.advantages-item {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-title {
  font-size: 22px;
  line-height: 36px;
}

.advantages-description-title{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-description-item-1 {
  width: auto;
  height: 384px;
  color: white;
  background-color: #83B3D3;
  text-align: left;
  background-position: right;
  background-image: url("../image/photo-1.jpg");
  background-repeat: no-repeat;
}

.advantages-description-item-1-1 {
  width: auto;
  height: 384px;
  background-image: url("../image/photo-2.jpg");
  background-repeat: no-repeat;
  color: white;
  background-color: #83B3D3;
  text-align: right;
}

.advantages-description-item-2 {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-description-item-3 {
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-description-item-4 {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}






/*  Фильтры каталога  */
/*


.catalog-background-1 {
  width: auto;
  height: auto;
  color: white;
  text-align: left;
  background-image: url("../image/catalog/catalog-background-1.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.order-link{
font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  text-transform: none;
}

.inner-header{
  font-size: 18px;
  line-height: 23px;
}

.button-apply {
  font-size: 20px;
  line-height: 26px;
  color: white;
  background-color: #83B3D3;
  text-transform: uppercase;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: black;
  background-color:white;
  text-decoration: none;
  text-transform: none;
}


/* Сортировка гостиниц  */
/*
.shorting  h2 {
  font-family: "PT Sans", sans-serif;
  font-style: Bold;
  font-size: 30px;
  line-height: 39px;
  text-align: left;
  color: black;
  background-color:white;
  text-transform: uppercase;
}

.catalog-filter-group-card {
  color: black;
  background-color:white;
  text-align: right;
}

.favourites-card-button {
  color: white;
  background-color: #83B3D3;
}

.favourites-card-button-green {
  color: white;
  background-color:#7DB54F
}

.house-list {
  text-align: left;
}
.rating-card-button {
  color: black;
  background-color:#F2F2F2;
  text-align: right;
}

.pagination-show-more {
  color: white;
  background-color: #83B3D3;
}

.house-card-link{
  color: black;
  background-color: white;
  text-decoration: none;
}


/* Поиск гостиниц */
/*

.search-hotel {
  font-size: 22px;
  line-height: 26px;
  width: auto;
  height: 411px;
  color: black;
  background-color:white
}

.page-main-search-hotel {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}


/* Подписка */
/*

.newsletter {
  font-size: 22px;
  line-height: 26px;
  width: auto;
  height: 411px;
  color: white;
  background-image: url("../image/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-catalog {
  font-size: 22px;
  line-height: 26px;
  width: auto;
  height: 411px;
  color: black;
  background-color: white;
}

.page-main-newsletter {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-button {
  font-size: 20px;
  line-height: 26px;
  color: white;
  background-color: #83B3D3;
  text-transform: uppercase;
}

/* Подвал */
/*

.page-footer {
  font-weight: 120px;
  color: black;
  background-color: #FFFFFF;
}

.page-footer a {
  color: black;
}

.footer-contact-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}


